body {
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	background: url("https://github.com/images/modules/header/background-v2.png") repeat-x scroll 0 0 #FFFFFF;
}

body * {
	line-height: 1.4em;
}

a {
	color: #4183C4;
    text-decoration: none;
    outline: none;
}

a:hover {
	color: #4183C4;
	text-decoration: underline;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}

div#wrapper header {
	position: relative;
	height: 80px;
}

div#wrapper header h1 a {
	font-size: 41px;
	line-height: 80px;
	height: 80px;
	color: #000;
}

div#wrapper header h1 a:hover {
	color: #4183C4;
	text-decoration: none;
}

div#wrapper header div.avatarname {
	display: inline;
    font-weight: bold;
    padding-right: 6px;
}

div#wrapper header div.avatarname img {
	border: 1px solid #FFFFFF;
    margin-right: 3px;
    margin-top: -3px;
    vertical-align: middle;
}

div#wrapper header div.avatarname a {
	color: #000;
}

div#wrapper header nav#usernav {
	position: absolute;
	top: 0;
	right: 0;
    padding: 8px 5px 7px 10px;
    background: -moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#FCFCFC),to(#E8E8E8));
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 12px;
}

div#wrapper header nav#usernav ul {
	display: inline;
    font-weight: bold;
    margin: 0;
}

div#wrapper header nav#usernav ul li {
	background: url("https://github.com/images/modules/header/nav-rule.png") no-repeat scroll 0 50% transparent;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 8px 0 9px;
}

div#wrapper header nav#usernav ul li a {
    text-shadow: 1px 1px 0 #FFFFFF;
}

div#wrapper div#container {
	background: url("https://github.com/images/modules/pagehead/background-white.png") no-repeat scroll 0 0 transparent;
    margin: -10px 0 10px -5px;
    padding: 20px 25px 0;
    position: relative;
    width: 920px;
    height: 107px;
}

div#wrapper div#container div#head nav#breadcrumbs {
	line-height: 2.3em;
}

div#wrapper div#container div#head nav#breadcrumbs * {
	line-height: 2.3em;
}

div#wrapper div#container div#head nav#breadcrumbs ul {
	height:2.3em;
	border:1px solid #dedede;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div#wrapper div#container div#head nav#breadcrumbs ul li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
}		

div#wrapper div#container div#head nav#breadcrumbs ul li a {
	background:url(http://www.duoh.com/csstutorials/breadcrumb/images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
}

div#wrapper div#container div#main {
	margin: 15px 0 0;
}

div#wrapper div#container div#main h2 {
	font-size: 24px;
	margin: 0 0 10px;
}

/*
div#wrapper div#container div#head nav#breadcrumbs {
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #666;
    font: 14px/1 “Myriad Pro”, Arial, Helvetica, Tahoma, sans-serif;
    height: 30px;
    text-shadow: 0 1px 1px #fff;
    overflow: hidden;
}

div#wrapper div#container div#head nav#breadcrumbs * {
	line-height: 1em;
}

div#wrapper div#container div#head nav#breadcrumbs ul {
    float: left;
}

div#wrapper div#container div#head nav#breadcrumbs ul li {
    float: right;
    padding: 7px 0 9px;
    text-indent: 27px;
}

div#wrapper div#container div#head nav#breadcrumbs ul li:last-child {
    margin-left: -15px;
}

div#wrapper div#container div#head nav#breadcrumbs ul li a {
    background: #ddd;
    background-image: linear-gradient(top, @start_color, @end_color);
    background-image: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
    background-image: -moz-linear-gradient(left top, #eee 38%, #ddd 61%);
    border: 1px solid #ccc;
    color: #666;
    display: block;
    line-height: 12px;
    margin-top: -40px;
    padding: 41px 0 39px;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

div#wrapper div#container div#head nav#breadcrumbs ul li a:hover {
    background: #ddd;
    background-image: none;
}

div#wrapper div#container div#head nav#breadcrumbs ul li a:active, ul li a:focus {
    outline: 0;
}

div#wrapper div#container div#head nav#breadcrumbs ul li a span {
    display: block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

div#wrapper div#container div#head nav#breadcrumbs ul li a:active span {
    bottom: -1px;
    position: relative;
    text-indent: 28px;
}
*/